.background {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 0px !important;
}

.semaforo-rojo {
    background: #e86a6a;
    color: #fff;
}

.semaforo-verde {
    background: #30e577;
}
